.infos
{
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: space-evenly;
    border: 2px solid black;
    height: auto;
    margin-top: 2rem;
    /*min-width: 33%;*/
}

.infos__titre
{
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: 10px;
    border-bottom: 2px solid blue;
}

.aPropos .competences
{
    max-width: 45%;
    margin: auto;
    margin-top: 2rem;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
}   

.infos__photo
{
    width: auto;
    height: auto;
}   


.labelProgressBar
{
    color: black;
    margin: 10px 0 1px 0;
}

#imgPrincipale {
    width: 100%;
    height: auto;
}