#banniere
{
    width: 100%;
}

#title
{
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 5px solid blue;
}

.flex
{
    display: flex;
    justify-content: space-around;
}

.contour
{
    border: 1px solid rgb(155, 152, 152);
    padding: 10px;
    margin: 10px;
    width: 30%;
    text-align: center;
}